
nav.nav-container {
	display: flex;
	padding: 0 5em;
	align-items: center;
	height: 6.5em;
	width: 100%;
	// background: rgba(204, 204, 204, 0);
	// background-color: #ADADAD;
	// background-color: #EDEAE5;

	.nav-img {
		height: 40px;
		width: 40px;
	}

	.nav-link {
		padding: 10px;
	}

	.nav-links {
		display: flex;
		padding: 0em 2em 0em 0em;
		width: 40%;
		justify-content: space-between;
		font-family: 'Cinzel', serif;
		color: black;
		z-index: 7;
		list-style: none;
		color: black;
	}

	a:-webkit-any-link {
		text-decoration: none !important;
		color: black;
	}

	.home-button {
		color: black;
		display: flex;
		font-size: 20px;
		font-family: 'Fredericka the Great', cursive;
		justify-content: flex-start;
		white-space: nowrap;
		align-items: center;
		padding-right: 5em;
		padding-left: .5em;
	}

	.inner-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		justify-content: center;
	}
}
