
nav.nav-container {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	.nav-img {
		height: 40px;
		width: 40px;
	}

	.home-button {
		color: black;
		display: contents;
		font-size: 20px;
		font-family: 'Fredericka the Great', cursive;
	}

	.button-box {
		padding-left: 1em;
		padding-top: 1em;
	}

	.inner-container {
		position: relative;
	}

	button {

	}
}
