.gallery-body {
	display: flex;
	background-color: #fafafa !important;
  }
  
  .gallery-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly; /* Adjust as needed */
  }
  
  .gallery-side-spacing {
	/* 12em is the width of the columns */
	flex: 0 0 12em;
	// order: -1;
  }
  
  .card-container {
	padding: 40px;
	z-index: 7;
	margin-bottom: auto;
	flex: 0 0 calc(25% - 24px); /* Adjust the width and margin as needed */
  
	@media (max-width: 768px) {
	  flex: 0 0 100%; /* Display one column when the screen size is 768px or smaller */
	}
  }
  
  .card-layout {
	display: flex;
	flex-wrap: wrap;
  }
  
  .title {
	display: flex;
	padding-bottom: 2.5em;
	font-family: 'Cinzel', serif;
	font-size: larger;
	padding-left: 2em;
  }
  