.gallery-body {
	display: flex;
	background-color: #fafafa !important;
  }
  
  .gallery-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
  }
  
  .gallery-side-spacing {
	flex: 0 0 7em;
  }
  
  .card-container {
	padding: 10px;
	z-index: 7;
	margin-bottom: 20px;
	flex: 0 0 calc(33% - 20px);
  
	@media (max-width: 768px) {
	  flex: 0 0 100%; /* Display one column when the screen size is 768px or smaller */
	}
  }
  
  .card-layout {
	display: flex;
	flex-wrap: wrap;
  }
  
  .title {
	display: flex;
	padding-bottom: 2.5em;
	font-family: 'Cinzel', serif;
	font-size: larger;
	padding-left: 2em;
  }
  